
target/m2e-wtp/web-resources/META-INF/maven/jmp.spring/ojdbc/pom.properties
target/generated-sources
target/classes
/.metadata/
.metadata

.project

.springBeans

.classpath

.factorypath

bin/

tmp/

*.tmp

*.bak

*.swp

*~.nib

local.properties

.settings/

.loadpath

.recommenders
target/m2e-wtp/web-resources/META-INF/maven/jpabook/springdata-reservation/pom.properties
